.clients{
    height: 100vh;
    margin-top: 15rem;

    h1{
        text-align: right;
        margin-right: 4rem ;
        margin-top: 8rem;
        color: white;
        font-size: 4rem;
        font-family: $main-font;
        font-weight: normal;
        transform: translateY(-50px);
        
        span{
            background: $label-color;
        }
    }

    section.cards-container{
        .cards{
            display: flex;
            flex-wrap: wrap;
            justify-content:center ;
            align-items: center;


            .card{
                background: #2b252e;
                padding: 40px;
                color: white;
                line-height: 1.5;
                margin: 10px;

                p{
                    width: 200px;
                    font-family: $primary-font;
                    color: rgb(197, 197, 197);
                }

                .user-info{
                    display: flex;
                    align-items: center;
                    justify-content: center;


                    .user-img{
                        margin-right: 20px;
                        width: 50px;
                        height: 50px;
                        border-radius:100px;
                        background: url("https://images.unsplash.com/photo-1494790108377-be9c29b29330?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cGVvcGxlfGVufDB8fDB8fHww") $bg-image-cover;
                        
                    }

                    .user-img-two{
                        background: url("https://images.unsplash.com/photo-1569128782402-d1ec3d0c1b1b?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGluZGlhbiUyMGd1eXxlbnwwfHwwfHx8MA%3D%3D") $bg-image-cover;

                    }
                    .user-img-three{
                        background: url("https://images.unsplash.com/photo-1566492031773-4f4e44671857?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGluZGlhbiUyMGd1eXxlbnwwfHwwfHx8MA%3D%3D") $bg-image-cover;

                    }
                }

            }
        }
    }
}