@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,600&family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,600&family=Playfair+Display:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-color:#239b7e;
    --main-font:'Playfair Display', serif;
    --primary-font:"Roboto", sans-serif;
}
/* NAV START */
 
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family: var(--primary-font);
    font-weight: bold ;
}

.logo{
    margin-left: 5rem;
}

.burger{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 1rem;
}
.burger span{
    border: 2px solid var(--main-color) ;
    width: 40px ;
    height: 1px;
    margin: 2px;
}
/* NAV END */

/* HEADER START */
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center ;
    height: 90vh;
    margin-top: 2rem;
    transform: translateY(-100px);


}
.main-headings{
    font-size: 4rem ;
    font-family: var(--main-color);
    transform: translateY(-40px);
    color: #00000097;
    line-height: 5rem;
}
.main-headings span{
    color: black;
}
.primary-headings{
    max-width: 500px;
    font-family: var(--primary-font);
    line-height: 25px;
    margin-bottom: 1rem;
    color: #716d6d;
}
.btn-fill{
    background: var(--main-color);
    color: white;
    border: none;
    padding: 12px 20px;
    margin-right: 10px;
    cursor:pointer;
    transition: all 0.5s ease-out;

}
.btn-fill:hover{
    background-color: white;
    border: 1px solid var(--main-color);
    color: var(--main-color);
}

.btn-outline.active{
    border: 2px solid var(--main-color);
    columns: var(--main-color);
    background: transparent;
    padding: 11px 20px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.btn-outline.active:hover{
    background: var(--main-color);
    color: white;
}
.img-container{
    border-radius: 50% ;
    box-shadow: 4px 7px 5px 2px #bcbaba;
}

.header-img{
    border-radius:100%;
    background: url("hoodie\ model.jpg");
    background-position: top;
    background-size: cover;
    width:380px ;
    height: 380px;
}

/* HEADER END */

/* SECTION-1 START */

.section-one{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top:7rem ;
    transform: translateY(-100px);
}
.section-one-img{
    background: url("section-one-img.jpeg");
    background-position: top;
    background-size: cover;
    border-radius: 100%;
    width: 380px;
    height: 380px;

}

/* SECTION-1 END */

/* PRODUCT START */

.products{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.products .products-heading{
    font-family: var(--primary-font);
    font-size: 2rem;
    margin-bottom:3rem ;
}
.products .product-categories button{
   margin-right: 20px;
   margin-bottom: 2rem;
}

.products .product-items-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
    max-width: 60rem;

}
.products .product-items-container .item{
    margin: 20px;
}
.product .product-items-container .item-layer{
    /* background: #ebf1f0; */
    padding: 40px;
    margin-right: 20px;
    margin: 0 auto;
    margin-bottom:20px ;
}
.products .product-items-container .item-layer img{
    width: 200px;
    height: 230px;
}
.products .product-items-container .item .item-name{
    font-family: var(--primary-font);
    margin-bottom: 10px;
}
.products .product-items-container .item .item-price{
    font-family: var(--primary-font);
    margin: 10px;
    transform: translateX(-8px);
}
.products .product-items-container .item .view-product{
    font-family: var(--primary-font);
    margin-bottom: 10px;
    text-decoration: none;
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
/* PRODUCT END */

/* CUSTOMER REVIEW START */

.customer-reviews
{
    margin-top: 7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.customer-reviews .customer{
    text-align: center;
}

.customer-heading{
    font-family: var(--primary-font);
    font-size:2rem;
    margin-bottom:20px ;
    text-align:center ;
    margin-top: 10rem;
}

.customer-reviews .customer-discription{
    font-size: 12px;
    margin-top: 20px;
    max-width: 200px;
    text-align: center;
    margin: 10px;
    font-family: var(--primary-font);

}


.customer .customer-img .img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    margin-bottom: 20px;

}

.customer .img-one{
    background: url("customer-img-one.jpeg");
}
.customer .img-two{
    background: url("customer-img-two.jpeg");
}
.customer .img-three{
    background: url("customer-img-three.jpeg");
}
/* CUSTOMER REVIEW END */

/* FOOTER AREA START */

footer{
    background: #1f1e1e;
    margin-top: 10rem;
    color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-content: center;
    height: 80vh;
    font-family: var(--primary-font);
}

footer .container .footer-heading{
    margin-bottom: 3rem;

}
footer .container .footer-primary-heading{
    font-weight: normal;
    font-size: 15px;
    margin-bottom: 20px ;
}

/* FOOTER AREA END */

/* PROJECT END */

/* MEDIA QUERIES */

@media screen and (max-width:900px) {
    header{
        margin-top: 6rem;
        height: 120vh;
        text-align: center;
    }
    .section-one{
        height: 120vh;
        text-align: center;
    }
    .header-img{
        width: 300px;
        height: 300px;
    }

    .main-headings{
        font-size: 4rem;
    }
    .primary-headings{
        width: 400px;
    }
    .cutomer .customer-img .img{
        width: 150px;
        height: 150px;
    }

}